APINEBULA_API_KEY=your_api_key_here
APINEBULA_BASE_URL=https://apinebula.com
NEBULA_CANVAS_ADOBE_MODEL=adobe-gpt-image-2
NEBULA_CANVAS_BANANA_MODEL=adobe-nano-banana-pro
NEBULA_CANVAS_IMAGE2_MODEL=gpt-image-2
NEBULA_CANVAS_OUTPUT_DIR=./outputs
NEBULA_CANVAS_POLL_INTERVAL_MS=5000
NEBULA_CANVAS_TIMEOUT_MS=600000
